#content {
    align-items: center;
    pointer-events: auto;
    z-index: 0;
    background-image: url("../img/transparent.png");
    margin-top: 100px;
}

#note img {
    width: 100%;
    height: auto;
}

#cell {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 50px;
}

#bg {
    width: 100%;
}

#cell img {
    margin: 0px;
}

#user-img {
    position: absolute;
    top: 48%;
    left: 13%;
}

#msg-img {
    position: absolute;
    top: 75%;
    left: 73%;
}

#face {
    width: 14vw;
    max-width: 176px;
}

#messages-img {
    width: 16vw;
    max-width: 200px;
    height: 11vw;
    max-height: 140px;
}

#messages-img:hover {
    cursor: pointer;
}

#description {
    background-color: #fafafa;
    color: #222;
    padding: 40px;
    height: 440px;
    width: 340px;
    font-size: 11pt;
    line-height: 1.5em;
    letter-spacing: 1px;
    margin: 0px 30px;
    border: 8px solid black;
    border-radius: 8px;
}

#description h1 {
    font-family: 'Octin Prison', cursive;
    margin-top: 0px;
    font-size: 16pt;
    text-align: center;
}

.arrow {
    display: flex;
    width: 50px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    margin-top: -50px;
    z-index: 999;
    transition: 0.3s ease;
}

.arrow img {
    height: 50px;
}

#right {
    right: 50%;
    margin-right: -415px;
}

#left {
    left: 50%;
    margin-left: -405px;
}

.arrow:hover {
    filter: brightness(150%);
}

.arrow:active {
    transition: 0s;
    filter: brightness(50%);
}

#link {
    position: fixed;
    width: 400px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -380px;
}

#link button {
    background-color: rgb(101, 101, 255);
    border: none;
    width: 400px;
    padding: 15px 0px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

#pagenum {
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 50%;
    font-size: 14pt;
    margin-bottom: -350px;
}

#messages ::-webkit-scrollbar {
    width: 10px;
}

#messages ::-webkit-scrollbar-track {
    background: #fff;
}

#messages ::-webkit-scrollbar-thumb {
    background: #888;
}

#messages ::-webkit-scrollbar-thumb:hover {
    background: #555;
}