<!DOCTYPE html>
<!-- Just testing to see if this will push -->
<html>

<head>
    <title>S.A.D. Center</title>
    <!-- Using Vue.js - be sure to check their docs! -->
    <link rel="icon" type="image/ico" href="favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="js/index.js"></script>
    <script src="js/nav.js"></script>
</head>

<body>
    <ul id="navbar">
        <li id="logo">
            <a href="index.html"><img src="img/aacf-logo.ico" alt="logo" /></a>
        </li>
        <a class="nav-item" v-for="item in items" v-bind:href=item.link>
            <li>
                {{ item.text }}
            </li>
        </a>
        <li id="nav-name">{{ message }}</li>
    </ul>
    <section id="content">
        <div class="cell" v-for="name in names">
            <a v-bind:href=name.link>
                <h3>{{ name.name }}</h3>
                <img class="face" v-bind:src=name.img>
                <img class="bars" src="img/fp/cell.png">
            </a>
        </div>
    </section>
    <div id="popup-view" class="hidden">
        <img id="close" src="img/close.png" alt="close">
        <section id="intro" class="popup">
            <h1>S.A.D. Center</h1>
            <p>Welcome to the Society-Abider Dissenter Center. This structure houses a particularly wild set of individuals&mdash;that is, the AACF sisters. We hope to recenter the repeat dissenters to be abiders of society once more. Click on a cell to
                take a closer look. Due to our distancing protocol, the prison guards haven't approached the cells in a while, but everyone looks like they're still there.</p>
            <p>Now, you should have received an ID for your visit. Enter your name and ID, and we will grant you VIP access into one of the cells. If you're a guest, feel free to just close this popup and take look around.</p>
            <form id="login">
                <label for="uname"><b>Name</b></label>
                <select id="options" name="uname" required>
                    <option></option>
                    <option v-for="name in names" v-bind:value=name>{{ name }}</option>
                </select>

                <label for="psw"><b>Identifier</b></label>
                <input type="text" placeholder="Enter ID" name="psw" required>

                <button id="submit" type="submit">Login</button>
            </form>
            <p id="error-message"></p>
        </section>
    </div>
</body>

</html>