<!DOCTYPE html>
<html>

<head>
    <title>{{ name }}</title>
    <!-- Using Vue.js - be sure to check their docs! -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/personal.css">
    <script src="js/personal.js"></script>
    <script src="js/nav.js"></script>
</head>

<body>
    <ul id="navbar">
        <li id="logo">
            <a href="index.html"><img src="img/aacf-logo.ico" alt="logo" /></a>
        </li>
        <a class="nav-item" v-for="item in items" v-bind:href=item.link>
            <li>
                {{ item.text }}
            </li>
        </a>
    </ul>
    <section id="content">
        <section id="cell">
            <img id="bg" src="img/prison.png" alt="Prison Cell" />
            <div id="user-img">
                <img id="face" v-bind:src=img>
            </div>
            <div id="msg-img">
                <img id="messages-img" src="img/transparent.png" title="Check notes" alt="messages" />
            </div>
        </section>
        <article id="description">
            <h1 id="title">{{ title }}</h1>
            <p>{{ info }}</p>
        </article>
    </section>
    <article id="popup-view" class="hidden">
        <img id="close" src="img/close.png" alt="close">
        <section id="messages">
            <div id="note" class="popup">
                <div v-if="text">
                    <p v-for="paragraph in paragraphs">{{ paragraph }}</p>
                </div>
                <a v-else v-bind:href=img>
                    <img v-bind:src=img />
                </a>
                <h1>- {{ name }}</h1>
            </div>
        </section>
        <div id="left" class="arrow">
            <img src="img/arrow-left.png" alt="left">
        </div>
        <div id="right" class="arrow">
            <img src="img/arrow-right.png" alt="right">
        </div>
        <p id="pagenum">
            {{ num }}
        </p>
    </article>
</body>

</html>