@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Special+Elite&display=swap');
#content {
    pointer-events: auto;
    width: 1000px;
    z-index: 0;
    font-family: 'Octin Prison', cursive;
    background-image: url("../img/transparent.png");
}

#images {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 50px;
}

#images img {
    margin: 0px 50px;
}

#user-img {
    position: absolute;
    top: 48%;
    left: 11.75%;
}

#msg-img {
    position: absolute;
    top: 75%;
    left: 69%;
}

#face {
    width: 300px;
    height: 300px;
}

#messages-img {
    width: 320px;
    height: 220px;
}

#description {
    background-color: #fafafa;
    color: #222;
    padding: 40px;
    height: 440px;
    width: 340px;
    font-size: 11pt;
    line-height: 1.5em;
    letter-spacing: 1px;
}

#description h1 {
    margin-top: 0px;
    font-size: 16pt;
    text-align: center;
}

.arrow {
    display: flex;
    width: 50px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    margin-top: -50px;
    z-index: 999;
    transition: 0.3s ease;
}

.arrow img {
    height: 50px;
}

#right {
    right: 50%;
    margin-right: -415px;
}

#left {
    left: 50%;
    margin-left: -405px;
}

.arrow:hover {
    filter: brightness(150%);
}

.arrow:active {
    transition: 0s;
    filter: brightness(50%);
}

#pagenum {
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 50%;
    font-size: 14pt;
    margin-bottom: -350px;
}