body {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: "Open Sans", "Helvetica", "Arial", "sans-serif";
    background-color: rgb(38, 43, 68);
    min-width: 600px;
    /* background-image: url("../img/brick.png"); */
}


/* Popup */

#popup-view {
    transition: 0.3s opacity;
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

#popup-view.fade {
    opacity: 0;
    pointer-events: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: -300px;
    margin-left: -325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    min-width: 500px;
    padding: 50px 80px 30px 80px;
    height: 500px;
    color: #222;
    background-color: white;
    font-family: 'Nanum Pen Script', cursive;
    overflow-y: auto;
}

.popup h1 {
    font-size: 24pt;
    text-align: right;
}

.popup p {
    margin: 1em 0em 0em 0em;
    font-size: 18pt;
}

.popup ::-webkit-scrollbar {
    width: 10px;
}

.popup ::-webkit-scrollbar-track {
    background: #fff;
}

.popup ::-webkit-scrollbar-thumb {
    background: #888;
}

.popup ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#close {
    position: fixed;
    top: 50%;
    right: 50%;
    margin-right: -300px;
    margin-top: -265px;
    width: 30px;
    height: 30px;
    z-index: 999;
}


/* Navigation bar */

#navbar {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#title {
    font-size: 16pt;
    justify-self: baseline;
}

.nav-item {
    padding: 0px 20px;
    height: 70px;
    line-height: 70px;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: rgb(128, 128, 253);
    transition: 0.3s;
}

.nav-item::selection {
    background-color: none;
}

#navbar a:hover {
    color: rgb(218, 218, 255);
}


/* Main content */

h1 {
    text-align: center;
}

#content {
    margin: 50px auto;
    padding: 0px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url("../img/cell-bg.png");
}

.cell {
    height: 350px;
}

.cell h3 {
    color: white;
    margin: 0px 100px 0px 30px;
    text-align: center;
    position: relative;
    top: -55px;
}

#content a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.arrow:hover,
#close:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}